body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-size: larger;
    margin-left: 4px;
}

.kep1 {
    height: 600px;
    width: 400px;
}

.kep2 {
    height: 500px;
    width: 400px;
}

.kep3 {
    height: 500px;
    width: 500px;
}

@media (max-width: 530px) {
    .kep1 {
        height: 400px;
        width: 300px;
    }
    .kep2 {
        height: 350px;
        width: 300px;
    }
    .kep3 {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 320px) {
    .kep1 {
        height: 300px;
        width: 200px;
    }
    .kep2 {
        height: 300px;
        width: 250px;
    }
    .kep3 {
        height: 300px;
        width: 300px;
    }
}